# Lab 06

## Final Project Signup

- You can use this link to find teammates: https://docs.google.com/spreadsheets/d/1Fg_DOIQAz2OuagbbJD27GyluZFROwhJaAdJcZjTZsAQ/edit?usp=sharing

- **Please attend the next week's lab on Nov 3rd, and we will talk about details of the final project.**

- Note 1: each team should have 3-4 members. Please do not form teams with only one member.

- Note 2: this sheet is just for forming teams, please do not start working on the project yet, 
  we may modify the dataset slightly.
  
- Note 3: Only students from the same lab could form one team.	

- Note 4: Each team can choose any data set from 4 data sets given (More details in next week's lab).

## Review left_join() and relational data

In [8]:
library(tidyverse)
library(nycflights13)

### Duplicate keys:
1. One table has duplicate keys. This is useful when you want to add in additional information as there is typically a one-to-many relationship. ![duplicate keys](http://r4ds.had.co.nz/diagrams/join-one-to-many.png)

In [9]:
x <- tribble(
  ~key, ~val_x,
     1, "x1",
     2, "x2",
     2, "x3",
     1, "x4"
)
y <- tribble(
  ~key, ~val_y,
     1, "y1",
     2, "y2"
)

In [10]:
left_join(x, y, by = "key")

  key val_x val_y
1 1   x1    y1
2 2   x2    y2
3 2   x3    y2
4 1   x4    y1

2. Both tables have duplicate keys
This represents a many-to-many join and is usually an error since they key does not uniquely identify observations in either table. Joining duplicated keys results in the Cartesian product of all the possible matches:
![cartesian](http://r4ds.had.co.nz/diagrams/join-many-to-many.png)

In [11]:
x <- tribble(
  ~key, ~val_x,
     1, "x1",
     2, "x2",
     2, "x3",
     3, "x4"
)
y <- tribble(
  ~key, ~val_y,
     1, "y1",
     2, "y2",
     2, "y3",
     3, "y4"
)

In [12]:
left_join(x, y, by = "key")

  key val_x val_y
1 1   x1    y1
2 2   x2    y2
3 2   x2    y3
4 2   x3    y2
5 2   x3    y3
6 3   x4    y4

### Defining the key columns
When we do a join using `left_join()`, R take as the key whatever column names the two tables have in common:

In [14]:
flights2 <- flights %>% 
  select(year:day, hour, origin, dest, tailnum, carrier)

1. The default, by = NULL, uses all variables that appear in both tables, the so called natural join. For example, the flights and weather tables match on their common variables: year, month, day, hour and origin.

In [20]:
names(flights2)
names(weather)

[1] "year"    "month"   "day"     "hour"    "origin"  "dest"    "tailnum"
[8] "carrier"

 [1] "origin"     "year"       "month"      "day"        "hour"
 [6] "temp"       "dewp"       "humid"      "wind_dir"   "wind_speed"
[11] "wind_gust"  "precip"     "pressure"   "visib"      "time_hour"

In [23]:
flights2 %>% 
  left_join(weather)

Joining, by = c("year", "month", "day", "hour", "origin")

  year month day hour origin dest tailnum carrier temp  dewp  humid wind_dir
1 2013 1     1   5    EWR    IAH  N14228  UA      39.02 28.04 64.43 260
2 2013 1     1   5    LGA    IAH  N24211  UA      39.92 24.98 54.81 250
3 2013 1     1   5    JFK    MIA  N619AA  AA      39.02 26.96 61.63 260
4 2013 1     1   5    JFK    BQN  N804JB  B6      39.02 26.96 61.63 260
5 2013 1     1   6    LGA    ATL  N668DN  DL      39.92 24.98 54.81 260
6 2013 1     1   5    EWR    ORD  N39463  UA      39.02 28.04 64.43 260
  wind_speed wind_gust precip pressure visib time_hour
1 12.65858         NA  0      1011.9   10    2013-01-01 05:00:00
2 14.96014   21.86482  0      1011.4   10    2013-01-01 05:00:00
3 14.96014         NA  0      1012.1   10    2013-01-01 05:00:00
4 14.96014         NA  0      1012.1   10    2013-01-01 05:00:00
5 16.11092   23.01560  0      1011.7   10    2013-01-01 06:00:00
6 12.65858         NA  0      1011.9   10    2013-01-01 05:00:00

In [21]:
flights2 %>% filter(year==2013, month==1, day==1, hour==5, origin=="EWR")

  year month day hour origin dest tailnum carrier
1 2013 1     1   5    EWR    IAH  N14228  UA
2 2013 1     1   5    EWR    ORD  N39463  UA

In [22]:
weather %>% filter(year==2013, month==1, day==1, hour==5, origin=="EWR")

  origin year month day hour temp  dewp  humid wind_dir wind_speed wind_gust
1 EWR    2013 1     1   5    39.02 28.04 64.43 260      12.65858   NA
  precip pressure visib time_hour
1 0      1011.9   10    2013-01-01 05:00:00

2. A character vector, by = "x". This is like a natural join, but uses only some of the common variables. For example, flights and planes have year variables, but they mean different things so we only want to join by tailnum.

In [24]:
names(flights)
names(planes)

 [1] "year"           "month"          "day"            "dep_time"
 [5] "sched_dep_time" "dep_delay"      "arr_time"       "sched_arr_time"
 [9] "arr_delay"      "carrier"        "flight"         "tailnum"
[13] "origin"         "dest"           "air_time"       "distance"
[17] "hour"           "minute"         "time_hour"

[1] "tailnum"      "year"         "type"         "manufacturer" "model"
[6] "engines"      "seats"        "speed"        "engine"

In [17]:
flights2 %>% 
  left_join(planes, by = "tailnum") %>% head

  year.x month day hour origin dest tailnum carrier year.y
1 2013   1     1   5    EWR    IAH  N14228  UA      1999
2 2013   1     1   5    LGA    IAH  N24211  UA      1998
3 2013   1     1   5    JFK    MIA  N619AA  AA      1990
4 2013   1     1   5    JFK    BQN  N804JB  B6      2012
5 2013   1     1   6    LGA    ATL  N668DN  DL      1991
6 2013   1     1   5    EWR    ORD  N39463  UA      2012
  type                    manufacturer model     engines seats speed engine
1 Fixed wing multi engine BOEING       737-824   2       149   NA    Turbo-fan
2 Fixed wing multi engine BOEING       737-824   2       149   NA    Turbo-fan
3 Fixed wing multi engine BOEING       757-223   2       178   NA    Turbo-fan
4 Fixed wing multi engine AIRBUS       A320-232  2       200   NA    Turbo-fan
5 Fixed wing multi engine BOEING       757-232   2       178   NA    Turbo-fan
6 Fixed wing multi engine BOEING       737-924ER 2       191   NA    Turbo-fan

Note that the year variables (which appear in both input data frames, but are not constrained to be equal) are disambiguated in the output with a suffix.

3. A named character vector: by = c("a" = "b"). This will match variable a in table x to variable b in table y. The variables from x will be used in the output. For example, if we want to draw a map we need to combine the flights data with the airports data which contains the location (lat and lon) of each airport. Each flight has an origin and destination airport, so we need to specify which one we want to join to:

In [18]:
flights2 %>% 
  left_join(airports, c("dest" = "faa")) %>% head

  year month day hour origin dest tailnum carrier
1 2013 1     1   5    EWR    IAH  N14228  UA
2 2013 1     1   5    LGA    IAH  N24211  UA
3 2013 1     1   5    JFK    MIA  N619AA  AA
4 2013 1     1   5    JFK    BQN  N804JB  B6
5 2013 1     1   6    LGA    ATL  N668DN  DL
6 2013 1     1   5    EWR    ORD  N39463  UA
  name                            lat      lon       alt  tz dst
1 George Bush Intercontinental    29.98443 -95.34144   97 -6 A
2 George Bush Intercontinental    29.98443 -95.34144   97 -6 A
3 Miami Intl                      25.79325 -80.29056    8 -5 A
4 NA                                    NA        NA   NA NA NA
5 Hartsfield Jackson Atlanta Intl 33.63672 -84.42807 1026 -5 A
6 Chicago Ohare Intl              41.97860 -87.90484  668 -6 A
  tzone
1 America/Chicago
2 America/Chicago
3 America/New_York
4 NA
5 America/New_York
6 America/Chicago

In [19]:
flights2 %>% 
  left_join(airports, c("origin" = "faa")) %>% head

  year month day hour origin dest tailnum carrier name                lat
1 2013 1     1   5    EWR    IAH  N14228  UA      Newark Liberty Intl 40.69250
2 2013 1     1   5    LGA    IAH  N24211  UA      La Guardia          40.77725
3 2013 1     1   5    JFK    MIA  N619AA  AA      John F Kennedy Intl 40.63975
4 2013 1     1   5    JFK    BQN  N804JB  B6      John F Kennedy Intl 40.63975
5 2013 1     1   6    LGA    ATL  N668DN  DL      La Guardia          40.77725
6 2013 1     1   5    EWR    ORD  N39463  UA      Newark Liberty Intl 40.69250
  lon       alt tz dst tzone
1 -74.16867 18  -5 A   America/New_York
2 -73.87261 22  -5 A   America/New_York
3 -73.77893 13  -5 A   America/New_York
4 -73.77893 13  -5 A   America/New_York
5 -73.87261 22  -5 A   America/New_York
6 -74.16867 18  -5 A   America/New_York